* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Figtree';
}

.home,
.our-story,
.find-medication,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about-us {
  color: #050533;
  font-size: 100px;
}

.find-medication {
  color: #050533;
  font-size: 100px;
}

.sign-up {
  color: #050533;
  font-size: 100px;
}