:root {

    /*brand color palette*/
    --brand-darkblue: #050533;
    --brand-primaryblue: #009ffb;
    --brand-green: #00d0c1;
    --brand-black: #111;
    --brand-white: #fff;
    --brand-grey: #f2f2f2;
    --brand-darkgrey: #d9d9d9;
    --brand-darkergrey: #b1b1b1;

    /*font sizes*/
    --font-xsmall: 0.5rem;
    --font-small: 1rem;
    --font-medium: 1.4rem;
    --font-large: 2.7rem;
    --font-xlarge: 4rem;
}

