.footer-container {
    background-color: #050533;
    padding: 3% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-terms-text {
    margin-top: 15px;
    font-size: 20px;
  }

  .unsubscribe-link {
    color: #fff;
    text-decoration: none;
  }

  .help-link {
    display: flex;
    flex-direction: row;
  }

  .help-link > p {
    font-size: 28px;
    color: #fff;
    margin-right: 12px;
  }
  
  .contact-us {
    color: white;
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 16px;
    margin-bottom: 40px;
  }

    .contact-us:hover {
    color: #009ffb;
  }

  .link-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
  }

  .link-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
    padding-top: 12px;
  }

  .nav-link:hover {
    color: #009ffb;
  }
  
  .website-rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }