@import '../../styles.css';

.hero-container {
    background-color: var(--brand-grey);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    line-height: 1.5;
}

.hero-title {
    width: 30vw;
    margin: 4rem 0 2rem;
}

.video-container {
    width: 60vw;
    max-width: 1080px;
}

.hero-container > h1 {
    max-width: 80%;
    text-align: center;
    color: var(--brand-darkblue);
    font-size: var(--font-xlarge);
    padding: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.hero-container > h2 {
    color: var(--brand-darkblue);
    font-size: var(--font-large);
    margin-bottom: 8px;
}

.hero-container > h3 {
    color: var(--brand-darkblue);
    font-size: var(--font-medium);
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 8px 8px 2rem;
}

@media screen and (max-width: 960px) {
    .hero-container {
        height: 100%;
        padding-top: 1rem;
    }

    .hero-title {
        width: 50vw;
    }

    .hero-container > h1 {
        font-size: var(--mobile-large);
        max-width: 90vw;
    }

    .hero-container > h2 {
        font-size: var(--mobile-medium);
        text-align: center;
        max-width: 80%;
    }

    .hero-container > h3 {
        font-size: 20px;
        text-align: center;
        max-width: 60%;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .hero-title {
        width: 50vw;
        margin: 2rem 0;
    }
    
    .hero-container > h1 {
        font-size: var(--mobile-large);
        margin-top: 2rem;
        text-align: center;
        max-width: 90vw;
        margin-bottom: 20px;
    }

    .hero-container > h2 {
        font-size: var(--mobile-medium);
        text-align: center;
        max-width: 80%;
        margin-bottom: 16px;
    }

    .hero-container > h3 {
        font-size: var(--mobile-small);
        text-align: center;
        max-width: 75%;
    }

    .hero-btns {
        margin-bottom: 2vh;
    }

    .hero-btns .btn {
        margin: 8px
    }
}